#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; z-index:9999;
     text-align: center; padding-top: 200px;
}

.nav{
    height: 85px;
}

.nav-menu {
    max-width: 74%;
    margin: 16px auto auto auto !important;
}

.logo{
    width:60px !important;
}

.town-label {
    color: white;
    margin: 10px 0px;
}

.town-selection-head {
    width: 150px !important;
    color: #4d4d4d;
    margin-top: 3px;
}

.town-selection-mobile {
    color: white;
    background-color: #2185D0;
    height: 50px !important;
    font-size: 20px !important;
    width: 80% !important;
    margin: 0% auto;
}

.background-image {
    width: 100%;
    margin-top: 7px;
}

.background-img-index {
    background-image: url('../img/marklyft.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 102%;


}

.headline {
    color: white;
    margin: 7% 0% 16% 0%;
}

.searchbar {
    opacity: 0.95;
    width: 80%;
}


.headline-font {
    font-size: 3rem;
}

.gymma_logo {
    width: 175px;
}

.logo-size {
    max-width: 100px;
}


.town-button-select {
    margin-left: 5% !important;
}

.dropdown-icon {
    position: absolute !important;
    right: 17px;
    bottom: 17px;
    color: white;
}

.dropdown-title {
    margin: 0px !important;
    color: white;
}

.middle-frame {
    height: 80%;
}

.footer {
    color: white;
    text-align: center;
    padding: 3px !important;
    float: left;
}

.info-section {
    display: inline-block;
    padding: 40px 0px;
}

.three-info-section {
    width: 33% !important;
    min-width: 300px !important;
    text-align: center;
}

.info-icon {
    height: 50px;
}

.info-label {
    font-weight: bold;
}

.info-text {
}


@media only screen and (max-width: 791px) {
    .web-view {
        display: none
    }

    .index-search-bar {
        display: none;
    }

    .town-selection-head {
        display: none !important;
    }

    .gymma-logo-placement {
        text-align: center;
        display: -webkit-inline-box !important;
    }

    .middle-frame {
        min-width: 90% !important;
    }

    .headline {
        margin: 13% 0% 23% 0% !important
    }

    .headline-font {
        font-size: 2rem !important;
    }

    .town-button-select {
        display: none !important;
    }

}

@media only screen and (min-width: 791px) {
    .town-selection-mobile {
        display: none !important;
    }

    .background-img-index {
        min-height: 713px;
    }

}
