<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64371458-2', 'auto');
            ga('send', 'pageview');

        </script>
        <meta name="description" content="Jämför priser, aktiviteter och antal lokalen för alla gymkedjor i din stad" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/templates; charset=UTF-8" />
        <link rel="icon" th:href="@{/img/favicon.jpg}" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" th:href="@{/css/citySelected.css}" />
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/citySelected.js}"></script>
        <script language="JavaScript" type="text/javascript" th:src="@{/js/maps.js}"></script>


        <title th:each="data : ${townById}" th:text="'gymma.info - ' + ${data.town_name}">Gymma.info - hitta ditt gym</title>
    </head>
<body>
<!--
<div class="ui segment" id="cover">
    <div class="ui active inverted dimmer">
        <div class="ui text loader">Laddar</div>
    </div>
    <p></p>
</div>
-->
<div class="ui centered grid background-img-citySelected">
    <div class="sixteen wide blue column nav">
        <div class="nav-menu">
            <div class="ui secondary menu gymma-logo-placement">
                <div class="" th:onclick="'javascript:toStartPage();' ">
                    <img class="gymma_logo" th:each="data : ${gymmaLogo}" th:src="@{'/img/' + ${data.gymma_logo_path}} " />
                </div>
                <div class="right menu">
                    <select name="Stad" class="ui fluid search dropdown town-selection-head" onchange="townIdSelect(this)">
                        <option th:each="data : ${townById}" th:text="${data.town_name}"></option>
                        <option th:each="data : ${towns}" th:text="${data.town_name}" th:id="${data.t_id}">Stockholm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="fourteen wide column frame-size">
        <h2 class="town-label" th:each="data : ${townById}" th:text="${'Gym i ' + data.town_name}">Gym i Uppsala</h2>
        <div class="town-selection-mobile">
            <select name="Stad" class="ui fluid search dropdown" onchange="townIdSelect(this)">
                <option th:each="data : ${townById}" th:text="${data.town_name}"></option>
                <option th:each="data : ${towns}" th:text="${data.town_name}" th:id="${data.t_id}">Stockholm</option>
            </select>
        </div>
        <div class="ui cards mobile-view event-table cards-settings">
            <div class="card card-size" th:each="data : ${gymData}" th:onclick="'javascript:rowClicked(\'' + ${data.g_id} + '/' + ${data.t_id} + '\');' ">
                <div class="logo-div-card">
                    <img class="logo-size mobile-view-logo" th:src="@{'/img/' + ${data.logo_path}} " />
                </div>
                <div class="content card-info">
                    <div class="header gym-label gym-name" th:text="${data.gym_name}">gym</div>
                    <div class="meta" th:text="${data.activity}">Activity</div>
                    <div class="description" th:text="${data.category} + ':  ' + ${data.price} + ' ' +  ${data.price_unit} ">kort: pris </div>
                </div>
            </div>
        </div>
        <table id="indexTable" class="ui table sortable event-table web-view">
            <thead>
                <tr>
                    <th></th>
                    <th class="column-style">Gym</th>
                    <th class="column-style">Aktiviteter</th>
                    <th class="column-style">Medlemskap</th>
                    <th class="column-style">Pris</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-size" th:each="data : ${gymData}" th:onclick="'javascript:rowClicked(\'' + ${data.g_id} + '/' + ${data.t_id} + '\');' ">
                    <td class="first_column">
                        <img class="logo-size" th:src="@{'/img/' + ${data.logo_path}} " /></td>
                    <td class="column-size gym-label"  th:text="${data.gym_name}">hej</td>
                    <td class="column-size" th:text="${data.activity}">gym</td>
                    <td class="column-size" th:text="${data.category}">årskort</td>
                    <td class="column-size last-column" th:text="${data.price} + ' ' + ${data.price_unit}">1000kr</td>
                </tr>
            </tbody>
        </table>

        <div id="map" th:id="map" style="width: 100%; height:400px;" th:each="data : ${townById}" th:attr="data-longitude=${data.longitude}, data-latitude=${data.latitude}"></div>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLeTEuswfQWdh7gIniIMV6d6QU3INYbY&amp;libraries=places&amp;callback=cityMap" ></script>

    </div>
    <div class="eight wide column footer">
        <p class="footer-font">info[at]gymma.info</p>
    </div>
    <div class="eight wide column footer">
        <p class="footer-font">Uppdaterat 20/3 -2017</p>
    </div>
</div>

</body>
</html>