<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="description" content="Jämför alla medlemserbjudanden som en gymkedje erbjuder. Här kan du se alla olika medlemskap, de aktiviteter gymmet erbjuder samt tips om gymmet." />

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8" />

        <script language="JavaScript" type="text/javascript" th:src="@{/js/maps.js}"></script>
        <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.css" />-->
        <link rel="stylesheet" type="text/css" href="../static/css/gym-page.css" th:href="@{/css/semantic2.2.9.css}" />
        <link rel="stylesheet" type="text/css" href="../static/css/gym-page.css" th:href="@{/css/gymPage.css}" />

        <title>Gym</title>

        <script>

            function toStartPage(id){
                window.location.href="/";
            };

            function toGymsInTown(id){
                window.location.href="/city=" + id;
            };

            function returnWithTownId(s) {
              var value = s[s.selectedIndex].id
                location.href = "/city=" + value;
            };

            function toGymWebsite(url){
                window.open(url,'karl');
            };

            function townIdSelectGymPage(s) {

              var value = s[s.selectedIndex].id

              var getDivFromGymPage = document.getElementById('gymTitle');
              console.log(getDivFromGymPage);
              var selectedGymID = getDivFromGymPage.dataset.gymid;

              console.log(selectedGymID);

              location.href = "/gym/" + selectedGymID + "/" + value;
            };

        </script>
    </head>
<body>                              <!--th:value="${data.website}" th:onclick="'javascript:toGymWebsite(value);' "> -->
<div class="ui grid">
    <div class="sixteen wide blue column nav">
        <div class="nav-menu">
            <div class="ui secondary menu">
                <div th:onclick="'javascript:toStartPage();' ">
                    <img th:each="data : ${gymmaLogo}" class="gymma_logo"  th:src="@{'/img/' + ${data.gymma_logo_path}} " />
                </div>
                <div class="right menu">
                    <select name="Stad" class="ui fluid search dropdown town-selection-head" onchange="townIdSelectGymPage(this)">
                        <option th:each="data : ${town_name}" th:text="${data.town_name}"></option>
                        <option th:each="data : ${towns}" th:text="${data.town_name}" th:id="${data.t_id}">Stockholm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui centered grid info-frame" >
    <div class="two wide column gym-logo-mobile-view">
        <div class="img-div">
            <img th:each="data : ${gymInfo}" class="ui small image " th:src="@{'/img/' + ${data.logo_path}} " />
        </div>
    </div>
    <div class="ten wide column">
        <div class="gym-title">
            <h1 th:each="data : ${gymInfo}" class="title-position" id="gymTitle" th:attr="data-gymid=${data.g_id}" th:text="${data.gym_name}">namn gym</h1>
        </div>
    </div>
    <div class="twelve wide column">
        <h3 class="ui horizontal divider header" style="display: flex;">
            <img class="info-icon" th:src="@{'/img/info-icon.png'} " />
            <p class="info-title">Information</p>
        </h3>
    </div>
    <div class="six wide column pad-view">
        <div class="ui blue segment" style="height:100%">
            <h4>Prislista</h4>
            <div class="ui divider"></div>
            <table class="ui very basic fixed table striped">
                <thead>
                <tr>
                    <th>Medlemskap</th>
                    <th class="right-pricelist-column">Pris</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${priceInfo}" class="mobile-pricelist">
                    <td th:text="${data.category}" class="mobile-pricelist left-pricelist-column">Årskort</td>
                    <td th:text="${data.price} + ' ' + ${data.price_unit}" class="mobile-pricelist right-pricelist-column">1000 kr</td>
                </tr>
                </tbody>
            </table>
            <p>* Priser kan variera mellan olika städer</p>

        </div>
    </div>
    <div class="six wide column pad-view">
        <div class="ui blue segment">
            <table class="ui very basic fixed table">
                <h4>Aktiviteter</h4>
                <div class="ui divider"></div>
                <tbody>
                <tr th:each="data : ${gymActivities}">
                    <td th:text="${data.activity}" class="collapsing">Klättring</td>
                </tr>
                </tbody>
            </table>
            <p>* Specifika aktiviteter finns i vissa fall endast på utvalda anläggningar</p>

            <table class="ui very basic fixed table">
                <h4 th:each="data : ${town_name}" th:text="'Gym i ' + ${data.town_name}">Gym i stad</h4>
                 <!--<p th:each="data : ${googleMapsInfo}" th:text="${data.mapsSearchString}">search_text</p>   -->
                <div class="ui divider"></div>

                <div th:each="data : ${googleMapsInfo}" id="map" th:id="map" style="height:400px;" th:attr="data-search-string=${data.mapsSearchString}, data-longitude=${data.longitude}, data-latitude=${data.latitude}"></div>

                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLeTEuswfQWdh7gIniIMV6d6QU3INYbY&amp;libraries=places&amp;callback=initMap" ></script>
            </table>
        </div>
    </div>
    <div class="twelve wide column pad-view">
        <div class="ui blue segment good-to-know-div">
            <h4>Bra att veta</h4>
            <div class="ui divider"></div>

            <table class="ui fixed table">
                <tbody class="description-field">
                <tr>
                    <td th:each="data : ${descriptions}" class="gym-info">
                        <img class="gym-icon" th:src="@{'/img/gym-icon.png'} " />

                        <div class="content" >
                            <p th:text="${data.description}">info</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="karl">
            <button class="large blue basic ui button return-button-settings" th:each="data : ${town_name}" th:text="'Tillbaka till alla gym i ' + ${data.town_name}" th:onclick="'javascript:toGymsInTown(\'' + ${data.t_id} + '\');' ">
                tillbaka
            </button>
        </div>
        <div class="karl">
            <button class="large blue ui button external-gym-button-settings" th:each="data : ${gymInfo}" th:text="'Till ' + ${data.gym_name} + ':s hemsida'" th:value="${data.website}" th:onclick="'javascript:toGymWebsite(value);' ">
                Till gymets hemsida
            </button>
        </div>
    </div>
</div>
    <div class="eight wide column footer">
        <p class="footer-font">info[at]gymma.info</p>
    </div>
    <div class="eight wide column footer">
        <p class="footer-font">Uppdaterat 20/3 -2017</p>
    </div>
<script language="JavaScript" type="text/javascript" th:src="@{/js/maps.js}"></script>

</body>
</html>